main {
  width: calc(100% - var(--nav-width));
  background-color: var(--input-field-bg-filled);
}

header {
  height: 68px;
  padding: 0 16px;
  border-bottom: 1px solid var(--border-color);
  background-color: white;
}

.avatar-header {
  width: var(--avt-width);
  height: var(--avt-width);
  border-radius: 50%;
  border: 1px rgb(204, 204, 204) solid;
  object-fit: cover;
}

.chat-name-header {
  font-size: 24px;
  margin: 0;
}

.chat-input {
  height: 50px;
}
