:root {
  --main-tab-width: 64px;
  --right-side-width: 344px;
  --nav-width: 408px;
  --avt-width: 48px;

  --layer-background: #fff;
  --layer-background-selected: #dbebff;
  --layer-background-chat-hover: #F1F2F4;
  --layer-background-navbar-normal: #005ae0;
  --input-field-bg-filled: #ebecf0;
  --border-color: #e6e6e6;
}
